body {
    background-color: white;
    color: black;
    font-family: 'Staatliches', cursive;
    font-weight: light;
    line-height: 1.5;
}

.collage-container {
    display: flex;
    flex-wrap: wrap;
}

.collage-image {
    width: 18%;
    margin: 3px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

h1 {
    color: black;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Staatliches', cursive;
    line-height: 1.6;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

h2, h3, h4, h5, h6, h {
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Staatliches', cursive;
    line-height: 1.6;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0;
}

.list-inline {
    list-style-type: none;
    padding-left: 0;
}

.list-inline li {
    text-align: center;
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
}

.list-inline i {
    font-size: 40px;
    color: darkblue;
}

.list-inline i:hover {
    font-size: 40px;
    color: whitesmoke;
    transform: rotate(360deg);
    transition: transform 0.3s ease;
}

.container {
    width: 700px;
    margin: 40px auto;
}

@media (max-width: 760px) {
    .container {
        width: 600px;
    }
}

@media (max-width: 500px) {
    .container {
        width: 400px;
    }
}

.card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 20px 0;
    text-align: center;
}

.card-white:hover {
    background-color: lightblue;
    color: white;
}

.card-white:hover h1,
.card-white:hover h2,
.card-white:hover h3,
.card-white:hover h4,
.card-white:hover h5,
.card-white:hover h6 {
    color: white;
}







